.about {
.bannerAbout {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  position: relative;
  width: 92%;              
  height: 190px;            
  display: block;   
  margin-top: 30px;       
  margin-left: auto;       
  margin-right: auto;      
  margin-bottom: 40px;     
  border-radius: 20px;     

  @media (max-width: 768px) {
    height: 120px;
}
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}

  .menu-item {
    display: block;
    margin-bottom: 20px; 
    width: 80%;          
    margin-left: auto;   
    margin-right: auto;  

    @media (max-width: 768px) {
      width: 94%; 
   }

   .collapse-button {
    width: 100%;
  }
   
   .collapse-content {
    width: 97%;
    height: 56px;
    padding: 15px;
    background-color: #f6f6f6;
    display: block;
    font-size: 16px;

    @media (max-width: 768px) {
      height: 90px; 
      width: 92%;
      font-size: 16px;
   }
  }
  
  }
}




