
.header {
    display: flex;
    justify-content: space-between;
    color: black;
    width: 100%;
    margin-left: 60px;
    margin-top: 30px;


    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 10px;

        .logo-image {
            width: 150px;
            height: 40px;
            margin-top: 8px;
        }
        }
}

    nav {

        @media (max-width: 768px) {
            width: 100%;
         }

        ul {
            display: flex;
            justify-content: right;
            margin-right: 130px;
            

            a {
                text-decoration: none;
                color: black;
                font-size: 22px;
                &.underline {
                    text-decoration: underline;

                }
            }

            li {
                margin: 0 10px;
                list-style: none;

                @media (max-width: 768px) {
                    white-space: nowrap;
                    
                 }
            }
        }
    }

    @media (max-width: 768px) {
    .footer {
        margin-top: 5%;
        width: 100%;
    }
}




  