.header {
    display: flex;
    justify-content: space-between;
    color: black;
    width: 100%;

    nav {


        ul {
            display: flex;

            a {
                text-decoration: none;
                color: black;
                &.underline {
                    text-decoration: underline;
                }
            }

            li {
                margin: 0 10px;
                list-style: none;
            }
        }
    }
}