.home_page {
  .banner {
    position: relative;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 30px;

    .banner-image {
      width: 92%;
      height: 190px; 
      margin-top: 20px;
      border-radius: 16px;
      object-fit: cover;
    }

    .banner-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
  }

  .gallery_section {
    display: flex; 
    justify-content: center;
    gap: 40px;

   
  }
}
