/* Logement.css */

.logement_details {
  // max-width: 1190px;
  margin: 0 auto;
  padding: 20px;
}

.carousel {
  position: relative;
  text-align: center;
  margin-bottom: 0px;
}

.carousel-image {
  width: 94%;
  border-radius: 16px;
  height: 400px;
  object-fit: cover;
}

/* Chevrons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; 
  border: none; 
  color: white; 
  font-size: 80px;
  cursor: pointer;
  z-index: 2;
  padding: 50px;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-index {
  margin-top: 10px;
  font-size: 16px;
}

.logement-header {
  text-align: left;
  margin-left: 50px;
   
  h1 {
    color: #ff6060;
  }
  
}



.logement-tags {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-left: 50px;
}

.tag {
  background-color: #ff6060;
  padding: 9px 22px;
  color: white;
  border-radius: 16px;
}

.logement-host {
  display: flex;
  justify-content: flex-end;
  margin-top: -120px;
  margin-right: 60px;
}

.host-info {
  display: flex;
  align-items: center;
}

.host-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logement-rating {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  margin-right: 60px;
}

.star {
  font-size: 26px;
  color: #e3e3e3;
}

.star.filled {
  color: #ff6060;
}

/* Styles pour la section description et équipements */
.describ-equipement {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espace entre les deux sections */
  margin-top: 40px;
}

.section {
  width: 46%;
  margin-left: 50px;
  margin-right: 70px;
}


.collapse__dropdown__container {
  width: 100%;
  margin-bottom: 60px; 
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  display: block;

}

.collapse__dropdown__title {
  background-color: #ff6060;
  padding: 16px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  
}

.collapse__dropdown__content {
  padding: 15px;
  background-color: #f6f6f6;
  transition: all 0.3s ease-in-out;
  width: 100%;
  min-height: 100px; /* Ajuste cette hauteur pour tes besoins */
  max-height: 200px; /* Limite la hauteur si nécessaire */
  
}

.collapse__dropdown__container p,
.collapse__dropdown__container ul {
  margin: 0;
  list-style: none;
  font-size: 16px;
}

.collapse__dropdown__title h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}


.logement-description,
.logement-equipments {
  width: 100%;
}

.footer {
  width: 100%;
  margin-bottom: 0px;
}



